:root {
  font-family: Segoe UI, Helvetica, Helvetica Neue, Arial, Ubuntu, sans-serif;
  height: 100%;
  --primary-color-hue: 210;
  --primary-color: hsl(var(--primary-color-hue), 80%, 50%);
  --primary-color-dark: hsl(var(--primary-color-hue), 60%, 32%);
  --primary-color-hover: hsl(var(--primary-color-hue), 0%, 97%);
  --link-item-color: hsl(var(--primary-color-hue), 0%, 30%);
  --link-item-color-hover: hsl(var(--primary-color-hue), 60%, 50%);
  --md-shadow-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  --md-shadow-2: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  --md-shadow-3: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.4);
  --md-shadow-4: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
  --md-shadow-5: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

svg {
  fill: currentColor;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
}

.page-header {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background: var(--primary-color-dark);
  color: white;
  padding: 15px 40px;
}

.page-header__logo {
  height: 50px;
  justify-self: center;
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: hsla(0, 0%, 0%, 0.5);
  padding: 15px;
  background: hsl(0, 0%, 95%);
  border-top: 1px solid #ddd;
}

@media (max-width: 900px) {
  .page-footer {
    flex-direction: column;
  }
  
  .page-footer__description {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

.page-footer__link {
  display: inline-block;
  margin: 0 3px;
  padding: 5px 12px;
  color: var(--primary-color);
  font-weight: 600;
  border-radius: 4px;
}

.page-footer__link:focus {
  outline: none;
  background: hsla(0, 0%, 0%, 0.05);
}

.page-footer__link:hover {
  color: var(--primary-color-dark);
  background-color: hsla(0, 0%, 0%, 0.05);
}

.page-footer__description {
  font-weight: 500;
  margin-right: 20px;
}

.title {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0;
  color: var(--primary-color);
}

.slug {
  font-size: 14px;
  color: var(--primary-color-dark);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5px;
}

.divider {
  color: #bbbbbb;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 80px 60px;
  margin: 60px 100px;
  align-self: self-start;
}

@media (max-width: 900px) {
  main {
    margin: 20px;
  }
}

.link-group__name {
  color: var(--primary-color-dark);
  font-size: 15px;
  line-height: 2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  padding-right: 20px;
  padding-left: 10px;
  border-bottom: 2px solid var(--primary-color-dark);
}

.link-group__list {
  display: grid;
  grid-row-gap: 1px;
}

.link-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  min-height: 36px;
  color: var(--primary-color);
  background-color: hsla(0, 0%, 0%, 0);
}

.link-item:hover {
  background-color: var(--primary-color-hover);
}

.link-item:focus {
  outline: 1px solid hsl(0, 0%, 70%);
}

.link-item__icon-container {
  --icon-size: 20px;
  grid-column-start: 1;
  align-self: center;
  width: var(--icon-size);
  height: var(--icon-size);
  padding-left: 10px;
  padding-right: 5px;
}

.link-item__label {
  grid-column-start: 2;
  align-self: center;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.4px;
  font-weight: 500;
  color: var(--link-item-color);
}

.link-item:hover .link-item__label {
  color: var(--link-item-color-hover);
}

.link-item__image {
  align-self: center;
  max-width: 100px;
  border: 1px solid hsla(0, 0%, 0%, 0);
  box-sizing: border-box;
}

.link-item:hover .link-item__label {
  color: var(--link-item-color-hover);
}
