:root {
  font-family: Segoe UI, Helvetica, Helvetica Neue, Arial, Ubuntu, sans-serif;
  --primary-color: hsl(210, 80%, 50%);
  --primary-color-dark: hsl(210, 80%, 30%);
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
}

.page-header {
  text-align: center;
}

.page-footer {
  font-size: 14px;
  color: #777;
  text-align: center;
  border-top: 1px solid hsl(0, 0%, 80%);
  padding-top: 20px;
  margin-top: 100px;
}

.page-footer a:hover {
  text-decoration: underline;
}

.page-footer>div {
  margin-bottom: 5px;
}

.title {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0;
  color: var(--primary-color);
}

.slug {
  font-size: 14px;
  color: var(--primary-color-dark);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5px;
}

.divider {
  color: #bbbbbb;
}

main {
  display: block;
  width: 868px;
  margin: 100px auto 40px;
}

.link-group__name {
  font-size: 20px;
  color: #444;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 60px;
  margin-bottom: 10px;
}

.link-group__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.link-item {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.08);
  border-radius: 4px;
}

.link-item__link {
  display: grid;
  grid-template-rows: 120px auto;
  color: var(--primary-color);
  text-align: center;
  height: 100%;
}

.link-item__image-container {
  line-height: 0;
}

.link-item__image {
  width: 100%;
}

.link-item__label {
  padding: 10px;
}

.link-item__link:hover {
  color: var(--primary-color-dark);
}