<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>
    @!section('title')
  </title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <header class="page-header">
    <h1 class="title">WebDev/Home</h1>
    <div class="divider">&mdash;</div>
    <div class="slug">A Web Developer's Start Page</div>
  </header>
  <main>
    @!section('body')
  </main>
</body>
</html>