<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#197fe5">
  <title>
    @!section('title')
  </title>
  <link rel="icon" href="favicon-16.png" sizes="16x16">
  <link rel="shortcut icon" href="favicon-32.png" sizes="32x32">
  <link rel="shortcut icon" href="favicon-128.png" sizes="128x128">
  <link rel="shortcut icon" href="favicon-512.png" sizes="512x512">
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <header class="page-header">
    <img src="/images/logo.svg" alt="//webdev/home" class="page-header__logo">
    <!--<div class="page-header__logo-text">//webdev/home</div>-->
  </header>
  <main>
    @!section('body')
  </main>
  <footer>
    @!section('footer')
  </footer>
</body>
</html>