.app {
  min-height: 100%;

  &__content {
    height: 100%;
  }

  &__header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--header-background);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);

    @supports (backdrop-filter: blur(10px)) {
      background: var(--header-background-transparent);
      backdrop-filter: blur(12px);
    }
  }
}
