.app-content {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 80px var(--h-page-margin);
  margin: var(--h-page-margin);
  align-self: self-start;
  opacity: 1;
  transition: opacity 0.2s ease-out;

  @media (max-width: 900px) {
    grid-gap: 40px var(--h-page-margin);
  }

  @media (max-width: 500px) {
    margin: 20px 0 40px;
  }

  &--is-filtering {
    display: none;
    opacity: 0;
    padding: 0;
  }
}
