.app-header {
  grid-area: header;
  display: grid;
  grid-template:
    'logo actions' auto /
    1fr auto;
  align-items: center;
  padding: 8px 0;

  @media (max-width: 500px) {
    padding: 10px 0;
    grid-template:
      'logo' auto
      'actions' auto /
      1fr;
  }

  &__logo {
    grid-area: logo;
    height: 50px;
    max-width: 100%;
    padding-left: var(--h-page-margin);

    @media (max-width: 500px) {
      height: auto;
      padding-left: 0;
    }
  }

  &__actions {
    grid-area: actions;
    display: flex;
    justify-content: center;
    column-gap: 16px;
    padding-right: var(--h-page-margin);

    @media (max-width: 900px) {
      column-gap: 8px;
    }

    @media (max-width: 500px) {
      padding-right: 0;
      margin-top: 8px;
    }
  }
}
