.logo {
  font-family: 'Roboto Mono';
  font-size: 32px;
  line-height: 50px;
  user-select: none;

  @media (max-width: 500px) {
    text-align: center;
  }

  &__char-1 {
    font-weight: 700;
    color: var(--logo-char-1-color);
  }

  &__char-2 {
    color: var(--logo-char-2-color);
  }

  &__shape {
    color: var(--logo-shape-color);
  }
}
