:root {
  --page-background: hsl(0, 0%, 100%);
  --icon-color: hsl(0, 0%, 0%);
  --icon-focus-border: hsla(var(--primary-color-hue), 50%, 40%, 0.7);
  --primary-color-hue: 190;
  --primary-color: hsl(var(--primary-color-hue), 50%, 40%);
  --primary-color-dark: hsl(var(--primary-color-hue), 50%, 25%);
  --primary-color-hover: hsl(0, 0%, 85%);
  --link-item-background: hsl(0, 0%, 90%);
  --link-item-color: hsl(var(--primary-color-hue), 0%, 30%);
  --link-item-color-hover: hsl(var(--primary-color-hue), 50%, 0%);
  --link-item-focus-border: hsl(0, 0%, 70%);
  --icon-background: none;
  --input-background: hsl(0, 0%, 90%);
  --input-text-color: hsl(0, 0%, 0%);
  --input-placeholder-color: hsl(0, 0%, 50%);
  --logo-char-color: hsl(190, 50%, 25%);
  --logo-shape-1-color: hsl(191, 50%, 40%);
  --logo-shape-2-color: hsl(190, 50%, 25%);
  --footer-text-color: hsl(0, 0%, 20%);
  --footer-link-color: var(--primary-color);
  --footer-link-color-hover: var(--primary-color-dark);
  --footer-link-background-hover: hsl(0, 0%, 88%);
  --footer-background: hsl(0, 0%, 95%);
  --footer-border: hsl(0, 0%, 70%);
  --icon-button-size: 46px;
  --h-page-margin: 50px;
  font-family: Roboto, Segoe UI, Helvetica, Helvetica Neue, Arial, Ubuntu, sans-serif;
  height: 100%;
}

@media (max-width: 1024px) {
  :root {
    --h-page-margin: 30px;
  }
}

@media (max-width: 900px) {
  :root {
    --h-page-margin: 20px;
  }
}

@media (max-width: 600px) {
  :root {
    --h-page-margin: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --page-background: hsl(0, 0%, 20%);
    --icon-color: hsl(0, 0%, 100%);
    --icon-focus-border: hsl(var(--primary-color-hue), 50%, 60%);
    --primary-color-hue: 190;
    --primary-color: hsl(var(--primary-color-hue), 50%, 60%);
    --primary-color-dark: hsl(var(--primary-color-hue), 50%, 40%);
    --primary-color-hover: hsl(0, 0%, 30%);
    --link-item-background: hsl(0, 0%, 40%);
    --link-item-color: hsl(var(--primary-color-hue), 0%, 80%);
    --link-item-color-hover: hsl(var(--primary-color-hue), 0%, 100%);
    --link-item-focus-border: hsl(0, 0%, 50%);
    --icon-background: hsl(0, 0%, 100%);
    --input-background: hsl(0, 0%, 40%);
    --input-text-color: hsl(0, 0%, 95%);
    --input-placeholder-color: hsl(0, 0%, 70%);
    --logo-char-color: hsl(190, 50%, 55%);
    --logo-shape-1-color: hsl(191, 50%, 40%);
    --logo-shape-2-color: hsl(190, 50%, 55%);
    --footer-text-color: hsl(0, 0%, 80%);
    --footer-link-color: var(--primary-color);
    --footer-link-color-hover: hsl(var(--primary-color-hue), 50%, 80%);
    --footer-link-background-hover: hsl(0, 0%, 35%);
    --footer-background: hsl(0, 0%, 30%);
    --footer-border: hsl(0, 0%, 40%);
    --icon-button-size: 46px;
    --h-page-margin: 50px;
  }
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr auto;
  background: var(--page-background);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color-dark);
}

code {
  font-family: Roboto Mono, monospace;
  color: var(--primary-color);
}

.page-header {
  grid-area: 1 / 1;
  color: white;
  padding: 30px 0;
  line-height: 0;
}

@media (max-width: 1024px) {
  .page-header {
    padding: 20px 0;
  }
}

@media (max-width: 900px) {
  .page-header {
    padding: 10px 0;
  }
}

@media (max-width: 500px) {
  .page-header {
    padding-right: 10%;
  }
}

.page-header__logo {
  height: 50px;
  max-width: 100%;
}

@media (max-width: 500px) {
  .page-header__logo {
    height: auto;
  }
}

.logo__char {
  fill: var(--logo-char-color);
}

.logo__shape-1 {
  fill: var(--logo-shape-1-color);
}

.logo__shape-2 {
  fill: var(--logo-shape-2-color);
}

.page-actions {
  grid-area: 1 / 2;
  display: grid;
  align-items: center;
  grid-auto-columns: auto;
  margin-right: var(--h-page-margin);
}

.page-actions__item {
  display: grid;
  align-items: center;
  justify-content: center;
  width: var(--icon-button-size);
  height: var(--icon-button-size);
  background-color: var(--link-item-background);
  border-radius: calc(var(--icon-button-size) * 0.5);
  transition: box-shadow 0.05s ease-out;
  box-shadow: 0 0 0 0 var(--icon-focus-border);
}

.page-actions__item:hover {
  background-color: var(--primary-color-hover);
}

.page-actions__item:active {
  box-shadow: 0 0 0 2px var(--icon-focus-border);
}

.page-actions__item>svg {
  stroke: var(--icon-color);
}

.page-search {
  grid-area: 2 / 1 / span 1 / span 2;
  align-self: start;
  justify-self: center;
  display: none;
  width: 600px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.15s ease-out;
}

.page-search--is-active {
  opacity: 1;
  display: grid;
}

.page-search__input {
  align-self: end;
  border: none;
  background-color: var(--input-background);
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 20px 0;
  color: var(--input-text-color);
  font-size: 26px;
  padding: 0 30px;
  height: 60px;
  border-radius: 30px;
  transition: box-shadow 0.05s ease-out;
  box-shadow: 0 0 0 0 var(--icon-focus-border);
}

.page-search__input:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--icon-focus-border);
}

.page-search__input::placeholder {
  color: var(--input-placeholder-color);
}

.page-search__results-hint {
  color: var(--link-item-color);
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  user-select: none;
}

.page-footer {
  grid-area: 3 / 1 / span 1 / span 2;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--footer-text-color);
  padding: 15px var(--h-page-margin);
  background: var(--footer-background);
  border-top: 1px solid var(--footer-border);
}

@media (max-width: 900px) {
  .page-footer {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .page-footer {
    align-items: stretch;
  }
}

.page-footer__link-list-title {
  font-weight: 500;
  margin-left: 50px;
  margin-right: 20px;
  user-select: none;
}

@media (max-width: 900px) {
  .page-footer__link-list-title {
    margin: 30px 0 10px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .page-footer__link-list {
    display: grid;
    grid-gap: 10px;
    grid-column: 1fr;
  }
}

.page-footer__link {
  display: inline-block;
  margin: 0 3px;
  padding: 8px 12px;
  color: var(--primary-color);
  font-weight: 500;
  border-radius: 3px;
  user-select: none;
}

@media (max-width: 600px) {
  .page-footer__link {
    text-align: center;
    margin: 0;
    padding: 8px 10px;
  }
}

@media (max-width: 500px) {
  .page-footer__link {
    padding: 10px 5px;
  }
}

.page-footer__link:focus {
  outline: none;
  background: var(--footer-link-background-hover);
}

.page-footer__link:hover {
  color: var(--footer-link-color-hover);
  background: var(--footer-link-background-hover);
}

.page-footer__description {
  font-weight: 500;
  margin-right: 40px;
  user-select: none;
}

@media (max-width: 900px) {
  .page-footer__description {
    margin: 0 0 20px;
  }
}

@media (max-width: 600px) {
  .page-footer__description {
    margin: 10px 0 25px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .page-footer__description {
    margin: 10px 0 25px;
  }
}

.title {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 0;
  color: var(--primary-color);
}

.divider {
  color: #bbbbbb;
}

.page-content {
  grid-area: 2 / 1 / span 1 / span 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 80px var(--h-page-margin);
  margin: 20px var(--h-page-margin);
  align-self: self-start;
  opacity: 1;
  transition: opacity 0.2s ease-out;
}

@media (max-width: 1024px) {
  .page-content {
    grid-gap: 50px var(--h-page-margin);
    margin-left: var(--h-page-margin);
    margin-right: var(--h-page-margin);
  }
}

@media (max-width: 900px) {
  .page-content {
    grid-gap: 40px var(--h-page-margin);
    margin-left: var(--h-page-margin);
    margin-right: var(--h-page-margin);
  }
}

@media (max-width: 500px) {
  .page-content {
    margin: 20px 0 40px;
  }
}

.page-content--is-filtering {
  display: none;
  opacity: 0;
  padding: 0;
}

.link-group__name {
  color: var(--primary-color);
  font-size: 15px;
  line-height: 1.8;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  padding-right: 20px;
  padding-left: 10px;
  border-bottom: 1px solid var(--primary-color-dark);
  user-select: none;
}

@media (max-width: 500px) {
  .link-group__name {
    padding-left: 15px;
  }
}

.link-group__list {
  display: grid;
  grid-row-gap: 1px;
}

.link-item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 10px;
  min-height: 36px;
  color: var(--primary-color);
  background-color: hsla(0, 0%, 0%, 0);
  border-radius: 3px;
}

@media (max-width: 500px) {
  .link-item {
    grid-column-gap: 15px;
    min-height: 42px;
  }
}

.link-item--is-hidden-by-filter {
  display: none;
}

.link-item:hover {
  background-color: var(--primary-color-hover);
}

.link-item:focus,
.link-item--has-focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--link-item-focus-border);
}

.link-item__icon-container {
  --icon-size: 20px;
  align-self: center;
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;
  padding: 4px;
  margin-left: 10px;
  border-radius: 2px;
  background: var(--icon-background);
}

@media (max-width: 500px) {
  .link-item__icon-container {
    padding-left: 15px;
    padding-right: 0;
  }
}

.link-item__icon-container > svg {
  width: var(--icon-size);
  height: var(--icon-size);
  fill: currentColor;
}

.link-item__label {
  grid-column-start: 2;
  align-self: center;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.4px;
  font-weight: 500;
  color: var(--link-item-color);
  user-select: none;
}

.link-item:hover .link-item__label {
  color: var(--link-item-color-hover);
}

.link-item__image {
  align-self: center;
  max-width: 100px;
  border: 1px solid hsla(0, 0%, 0%, 0);
  box-sizing: border-box;
}