.app-action {
  display: grid;
  align-items: center;
  justify-content: center;
  width: var(--icon-button-size);
  height: var(--icon-button-size);
  color: var(--icon-color);
  background-color: var(--link-item-background);
  border-radius: calc(var(--icon-button-size) * 0.5);
  transition: box-shadow 0.05s ease-out;
  box-shadow: 0 0 0 0 var(--icon-focus-border);

  &:hover {
    background-color: var(--primary-color-hover);
  }
  
  &:active {
    box-shadow: 0 0 0 2px var(--icon-focus-border);
  }
  
  &--is-active {
    background-color: var(--primary-color);
    color: var(--icon-color-active);
  }  

  &--is-active:hover {
    background-color: var(--primary-color-dark);
  }
}
