.app-header {
  grid-area: header;
  padding: 30px 0;
}

@media (max-width: 900px) {
  .app-header {
    padding: 10px 0;
  }
}

.app-header__logo {
  height: 50px;
  max-width: 100%;
  padding-left: var(--h-page-margin);
}

@media (max-width: 500px) {
  .app-header__logo {
    height: auto;
    padding-left: 0;
  }
}
