.footer-link {
  display: inline-block;
  margin: 0 3px;
  padding: 8px 12px;
  color: var(--footer-link-color);
  font-weight: 500;
  border-radius: 3px;
  user-select: none;

  &:focus {
    outline: none;
    background: var(--footer-link-background-hover);
  }

  &:hover {
    color: var(--footer-link-color-hover);
    background: var(--footer-link-background-hover);
  }

  @media (max-width: 500px) {
    margin: 0 0 10px;
    padding: 10px 15px;
  }
}
