.search {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-sizing: border-box;
  transition: opacity 0.15s ease-out;

  &__input-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  &__input {
    border: none;
    background-color: var(--input-background);
    box-sizing: border-box;
    display: block;
    margin: 20px 0;
    color: var(--input-text-color);
    font-family: var(--font-family-sans-serif);
    font-size: 26px;
    padding: 0 30px;
    height: 60px;
    border-radius: 30px;
    transition: box-shadow 0.05s ease-out;
    box-shadow: 0 0 0 0 var(--icon-focus-border);
  }

  &__input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--icon-focus-border);
  }

  &__input::placeholder {
    color: var(--input-placeholder-color);
  }

  &__results-hint {
    color: var(--link-item-color);
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    user-select: none;
  }

  &__results-hint-description {
    margin-top: 5px;
  }

  &__results-headline {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 16px;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--link-item-color-disabled);
    margin: 8px 0;
  }

  &__results-headline-decoration {
    height: 1px;
    background: var(--link-item-focus-border);
  }
}
