.search-target-item {
  grid-column-start: 2;
  display: flex;
  align-items: center;
  color: var(--link-item-color);
  padding: 0 30px;
  user-select: none;

  &__icon-container {
    padding: 4px;
    margin: 0 8px;
    background-color: var(--link-item-icon-background);
    border-radius: 2px;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  & svg {
    fill: currentColor;
  }
}
