<a class="link-item" href="{{ item.url }}">
  @if(item.icon)
    <div class="link-item__icon-container" style="color: {{ item.color ? item.color : 'black' }}">
      {{{ simpleIcons[item.icon].svg }}}
    </div>
  @endif
  @if(item.title)
    <div class="link-item__label">{{ item.title }}</div>
  @endif
</a>
