<div class="link-item">
  <a href="{{ item.url }}" class="link-item__link">
    <img src="/images/{{ folder }}/{{ item.image }}.png" alt="" class="link-item__image">
    <div class="link-item__label">{{ item.title }}</div>
  </a>
</div>
