<a class="link-item" href="{{ item.url }}">
  @if(item.image)
    <img src="/images/{{ folder }}/{{ item.image }}.png" alt="" class="link-item__image">
  @endif
  @if(item.title)
    <div class="link-item__label">{{ item.title }}</div>
  @endif
</a>
