@import 'tailwindcss';

/* category title background (light) */
/* prettier-ignore */
@source inline('bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-{100}');

/* category title background (dark), jump links marker background (light/dark) */
/* prettier-ignore */
@source inline('{dark:,}bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-{600}');

/* category title text (light) */
/* prettier-ignore */
@source inline('text-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-800');

/* category title text (dark) */
/* prettier-ignore */
@source inline(
  'dark:text-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-{50,300}'
);

@theme {
  --color-gray-50: oklch(98.7% 0.002 197.1);
  --color-gray-100: oklch(96.3% 0.002 197.1);
  --color-gray-200: oklch(92.5% 0.005 214.3);
  --color-gray-300: oklch(87.2% 0.007 219.6);
  --color-gray-400: oklch(72.3% 0.014 214.4);
  --color-gray-500: oklch(56% 0.021 213.5);
  --color-gray-600: oklch(45% 0.017 213.2);
  --color-gray-700: oklch(37.8% 0.015 216);
  --color-gray-800: oklch(27.5% 0.011 216.9);
  --color-gray-900: oklch(21.8% 0.008 223.9);
  --color-gray-950: oklch(14.8% 0.004 228.8);

  --color-brand-50: oklch(
    0.9285714285714285 0.03547813593378833 206.41586320968938
  );
  --color-brand-100: oklch(
    0.8571428571428571 0.0754840498851943 208.50590579568805
  );
  --color-brand-200: oklch(
    0.7857142857142857 0.1201512655608065 210.35725391264182
  );
  --color-brand-300: oklch(
    0.7142857142857142 0.16958422855857652 212.00531054228514
  );
  --color-brand-400: oklch(
    0.6428571428571428 0.22386539246704984 213.47948980726738
  );
  --color-brand-500: oklch(
    0.5714285714285714 0.212295338775088 214.80425406058797
  );
  --color-brand-600: oklch(0.5 0.19531249999999997 216);
  --color-brand-700: oklch(
    0.42857142857142855 0.16485981478886055 218.3101595578776
  );
  --color-brand-800: oklch(
    0.3571428571428571 0.13548756563003217 220.688925073939
  );
  --color-brand-900: oklch(
    0.2857142857142857 0.10706549431347086 223.13085035050793
  );
  --color-brand-950: oklch(
    0.21428571428571427 0.0794550510034819 225.62928334001322
  );

  --font-sans:
    Inter, 'Helvetica Neue', 'Segoe UI', Roboto, Verdana, Arial, sans-serif;
  --font-mono:
    'JetBrains Mono', 'IBM Plex Mono', 'Cascadia Code', 'Roboto Mono',
    'Fira Code', monospace;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.15);
  --shadow-lg:
    0px 0.6px 0.9px hsl(0 0 0 / 0), -0.1px 5.6px 8.4px hsl(0 0 0 / 0.03),
    -0.1px 10.5px 15.8px hsl(0 0 0 / 0.06),
    -0.2px 18.4px 27.6px hsl(0 0 0 / 0.09),
    -0.4px 32.2px 48.3px hsl(0 0 0 / 0.12);
}

@custom-variant supports-backdrop (@supports (backdrop-filter: blur(1px)));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant small-height (@media (height < 500px));

@utility scrollbargutter-auto {
  scrollbar-gutter: auto;
}

@utility scrollbargutter-stable {
  scrollbar-gutter: stable;
}

@utility scrollbargutter-stable-both {
  scrollbar-gutter: stable both-edges;
}

@utility scrollbargutter-inherit {
  scrollbar-gutter: inherit;
}

@utility scrollbargutter-initial {
  scrollbar-gutter: initial;
}

@utility scrollbargutter-revert {
  scrollbar-gutter: revert;
}

@utility scrollbargutter-unset {
  scrollbar-gutter: unset;
}

@layer base {
  @font-face {
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/InterVariable.woff2') format('woff2');
  }

  :root {
    color-scheme: light dark;

    &.light {
      color-scheme: light;
    }

    &.dark {
      color-scheme: dark;
    }
  }

  svg {
    @apply align-middle;
  }
}

@layer components {
  .px-page {
    @apply px-2 sm:px-4 lg:px-6;
  }

  .py-page {
    @apply py-2 sm:py-4 lg:py-6;
  }

  .p-page {
    @apply p-2 sm:p-4 lg:p-6;
  }
}
