@import 'tailwindcss';

/* category title background (light) */
/* prettier-ignore */
@source inline('bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-{100}');

/* category title background (dark), jump links marker background (light/dark) */
/* prettier-ignore */
@source inline('{dark:,}bg-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-{600}');

/* category title text (light) */
/* prettier-ignore */
@source inline('text-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-800');

/* category title text (dark) */
/* prettier-ignore */
@source inline(
  'dark:text-{red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose,slate,gray,zinc,neutral,stone,taupe,mauve,mist,olive}-{50,300}'
);

@theme {
  --color-gray-50: oklch(98.7% 0.002 197.1);
  --color-gray-100: oklch(96.3% 0.002 197.1);
  --color-gray-200: oklch(92.5% 0.005 214.3);
  --color-gray-300: oklch(87.2% 0.007 219.6);
  --color-gray-400: oklch(72.3% 0.014 214.4);
  --color-gray-500: oklch(56% 0.021 213.5);
  --color-gray-600: oklch(45% 0.017 213.2);
  --color-gray-700: oklch(37.8% 0.015 216);
  --color-gray-800: oklch(27.5% 0.011 216.9);
  --color-gray-900: oklch(21.8% 0.008 223.9);
  --color-gray-950: oklch(14.8% 0.004 228.8);

  --color-brand-50: #d8ebf4;
  --color-brand-100: #add7ec;
  --color-brand-200: #7dc4e7;
  --color-brand-300: #3bb0e4;
  --color-brand-400: #009ae3;
  --color-brand-500: #0083ca;
  --color-brand-600: #006cae;
  --color-brand-700: #00578e;
  --color-brand-800: #00426e;
  --color-brand-900: #002e50;
  --color-brand-950: #001c34;

  --font-sans:
    Inter, 'Helvetica Neue', 'Segoe UI', Roboto, Verdana, Arial, sans-serif;
  --font-mono:
    'JetBrains Mono', 'IBM Plex Mono', 'Cascadia Code', 'Roboto Mono',
    'Fira Code', monospace;

  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.15);
  --shadow-lg:
    0px 0.6px 0.9px hsl(0 0 0 / 0), -0.1px 5.6px 8.4px hsl(0 0 0 / 0.03),
    -0.1px 10.5px 15.8px hsl(0 0 0 / 0.06),
    -0.2px 18.4px 27.6px hsl(0 0 0 / 0.09),
    -0.4px 32.2px 48.3px hsl(0 0 0 / 0.12);
}

@custom-variant supports-backdrop (@supports (backdrop-filter: blur(1px)));
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant small-height (@media (height < 500px));

@utility scrollbargutter-auto {
  scrollbar-gutter: auto;
}

@utility scrollbargutter-stable {
  scrollbar-gutter: stable;
}

@utility scrollbargutter-stable-both {
  scrollbar-gutter: stable both-edges;
}

@utility scrollbargutter-inherit {
  scrollbar-gutter: inherit;
}

@utility scrollbargutter-initial {
  scrollbar-gutter: initial;
}

@utility scrollbargutter-revert {
  scrollbar-gutter: revert;
}

@utility scrollbargutter-unset {
  scrollbar-gutter: unset;
}

@layer base {
  @font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('/assets/fonts/InterVariable.woff2') format('woff2');
  }

  :root {
    color-scheme: light dark;

    &.light {
      color-scheme: light;
    }

    &.dark {
      color-scheme: dark;
    }
  }

  svg {
    @apply align-middle;
  }
}

@layer components {
  .px-page {
    @apply px-2 sm:px-4 lg:px-6;
  }

  .py-page {
    @apply py-2 sm:py-4 lg:py-6;
  }

  .p-page {
    @apply p-2 sm:p-4 lg:p-6;
  }
}
